<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ixmati</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <link href="https://es.snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM_8890p9QMwBg6WrVDq1Oy7Lc_X7Irr0&libraries=places"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
 
 
  </head>

  <body>
      <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>
    
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <div class="col-sm-3 col-md-3">
                <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
    <br><br><br><br>
    
        <!-- details card section starts from here -->
    <section class="details-card text-center">
        <div class=" text-center">
            <div class="row ">
                <div class="col-md-4 marginCard">
                    <div class="card-content">
                        <div class="card-img">
                            <img id="" src="../assets/images/baños.jpg" alt="" height="">
                            <span><h4>heading</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>Heading</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                voluptas totam</p>
                                <a href="#" class="btn-card">Read</a>
                        </div>
                    </div>
                </div>
                <div class="marginCard"></div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img id="barrio" src="../assets/images/barriochino.jpg" alt="" height="300px">
                            <span><h4>heading2</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>Heading2</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                voluptas totam</p>
                                <a href="#" class="btn-card">Read</a>
                        </div>
                    </div>
                </div>
                <div class="marginCard"></div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="../assets/images/calaveras.jpg" alt="" height="350px">
                            <span><h4>heading3</h4></span>
                        </div>
                        <div class="card-desc">
                            <h3>Heading3</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                voluptas totam</p>
                                <a href="#" class="btn-card">Read</a>
                        </div>
                    </div>
                </div>
                <div class="marginCard"></div>
            </div>
        </div>
    </section>
      <div id="map"></div>
      
      <!--
      <div class="col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.7528690827417!2d-99.17600868129443!3d19.423080930213295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2f3a8ca9ff30986c!2sLa+Estela+de+luz!5e0!3m2!1ses-419!2smx!4v1551571579482" width="300" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>-->
      <button id="btnLogout" class="btn ">salir </button>
    </div>

    <script src="https://es.snatchbot.me/sdk/webchat.min.js">  
    </script><script> Init('?botID=47601&appID=webchat', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/ymYKNPvGqlSd4gvv0Hy13B8a9', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '1', '#FFFFFF', '#FFFFFF', 0); </script>
    <script type="text/javascript" src="js/app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/logout.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
   <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="../js/map.js"></script>
  
  </body>
</html>
